<!DOCTYPE html>
<head>

	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="stylesheet" type="text/css" href="popup.css" />

	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script>
		let app = {} 

        function update() {
            app.mods = []
            app.statusText = "Patience is a virtue"
            fetch("https://api.github.com/repos/Acamaeda/The-Modding-Tree/forks?per_page=100&sort=newest")
                .then(res => {
                    if (res.status == 200) {
                        res.json()
                            .then(json => {
                                app.mods = json
                                app.statusText = `
                                    Sort by:<br/>
                                    <button class="tabButton" style="border-color:white;padding:5px;margin:10px 0;font-size:16px" onclick="setSortRule('updated_at')"><span>Update</button>
                                    <button class="tabButton" style="border-color:white;padding:5px;margin:10px 0;font-size:16px" onclick="setSortRule('created_at')"><span>Creation</button>
                                    <button class="tabButton" style="border-color:white;padding:5px;margin:10px 0;font-size:16px" onclick="setSortRule('stargazers_count')"><span>Stars</button>
                                    <button class="tabButton" style="border-color:white;padding:5px;margin:10px 0;font-size:16px" onclick="setSortRule('open_issues_count')"><span>Open issues</button>
                                    &nbsp;
                                    <button class="tabButton" style="border-color:white;padding:5px;margin:10px 0;font-size:16px" onclick="setSortOrder(-1)"><span>▼</button>
                                    <button class="tabButton" style="border-color:white;padding:5px;margin:10px 0;font-size:16px" onclick="setSortOrder(1)"><span>▲</button>
                                    
                                `
                                if (app.mods.sort) app.mods.sort(sortMods);
                            })
                    } else if (res.status == 403 && res.statusText == "rate limit exceeded") {
                        app.statusText = "Due to several reasons, GitHub only allows a limited amount of API calls per computer every once in a while."
                        fetch("https://api.github.com/rate_limit")
                            .then(res => {
                                res.json().then(json => { if (json.resources && json.resources.core && json.resources.core.reset) app.statusText += "<br/>Please try again in " + formatTime(json.resources.core.reset * 1000 - new Date()) + "."; console.log(json.resources.core.reset) }) })
                        console.log(res)
                    } else {
                        app.statusText = "Something gone wrong???"
                        console.log(res)
                    }
                })
                .catch(error => {
                    app.statusText = "Something gone wrong???"
                    console.log(error)
                });
		}

		function formatTime(ms) {
			if (ms < 1000) return ms.toLocaleString("en-US") + "ms"
            ms /= 1000
            if (ms < 60) return Math.floor(ms).toLocaleString("en-US") + "s"
            ms /= 60
            if (ms < 60) return Math.floor(ms).toLocaleString("en-US") + "m " + Math.floor((ms % 1) * 60).toLocaleString("en-US") + "s"
            ms /= 60
            if (ms < 24) return Math.floor(ms).toLocaleString("en-US") + "h " + Math.floor((ms % 1) * 60).toLocaleString("en-US") + "m"
            ms /= 24
            if (ms < 365) return Math.floor(ms).toLocaleString("en-US") + "d " + Math.floor((ms % 1) * 24).toLocaleString("en-US") + "h"
            ms /= 365
            return Math.floor(ms / 365).toLocaleString("en-US") + "y " + Math.floor((ms % 1) * 365).toLocaleString("en-US") + "d"
        }

        function setSortOrder(order) {
            app.sortOrder = order
            app.mods.sort(sortMods)
        }

        function setSortRule(rule) {
            app.sortRule = rule
            app.mods.sort(sortMods)
        }

        function sortMods(x, y) {
            if (x[app.sortRule] < y[app.sortRule]) {
                return 1 * app.sortOrder;
            }
            if (x[app.sortRule] > y[app.sortRule]) {
                return -1 * app.sortOrder;
            }
            return 0;
        }

		function load() {
            app = new Vue({
                el: "#finderApp",
                data: {
                    mods: [],
                    sortRule: "updated_at",
                    sortOrder: 1,
                    width: 100,
                    statusText: "",
                },
            })
			update()
        }

        // By default, all descrpitions matching these will not be shown. 
        // This is to prevent the TMT's default descriptions from appearing as that mod's desciption.
        let descFilter = [
            "Create your own tree (or non-tree) of prestige upgrades!",
            "Create your own tree of prestige upgrades!",
            "",
        ]

        setInterval(() => app.width = window.innerWidth, 100)
		
	</script>
</head>
<body onload="load()" style="overflow-y:scroll">
    <div id="finderApp">
        <div>
            <br />
            <h3>ducdat0507's The Prestige Tree Modfinder</h3><br />
            This basically fetches all forks from TMT's repository using the GitHub API.<br />
            <br />
        </div>
        <div v-html="statusText + '<br/>'">
        </div>
        <div v-for="repo in mods" v-bind:style="{'width': 'calc(' + (100 / Math.max(Math.floor(width / 400), 1)) + '% - 10px)'}" style="display:inline-flex;margin:0;padding:5px;transition:none">
            <div v-if="repo.owner" style="text-align:left;border:2px solid white;border-radius:24px;padding:5px;width:100%">
                <table>
                    <tr>
                        <td><img v-bind:src="repo.owner.avatar_url" style="width:50px;height:50px;border-radius:16px;" /></td>
                        <td style="text-align:left;padding-left:6px;width:100%;transform:translateY(-2px)">
                            <h3>{{repo.owner.login}}</h3>
                            <span style="opacity:0.5;font-size:14px"><br />/{{repo.name}}</span>
                        </td>
                        <td style="text-align:right;width:200px;transform:translateY(-2px)">
                            {{repo.stargazers_count.toLocaleString("en-US")}}<span style="font-size:12px">&nbsp;stars</span><br />
                            {{repo.open_issues_count.toLocaleString("en-US")}}<span style="font-size:12px">&nbsp;issues</span><br />
                        </td>
                    </tr>
                </table>
                <div style="background-color:white;width:100%;height:2px;margin-top:3px;margin-bottom:5px">&nbsp;</div>
                <h5>
                    Created {{formatTime(new Date() - new Date(repo.created_at))}} ago, {{Math.abs(new Date(repo.created_at) - new Date(repo.updated_at)) < 10000 ? "Not yet updated" : "Updated " + formatTime(new Date() - new Date(repo.updated_at)) + " ago"}}<br />
                    <span v-if="!descFilter.includes(repo.description)"><i>"{{repo.description}}"</i><br /></span>
                    <span v-else><i style="opacity:0.5">No descriptions</i><br /></span>
                    <a class="link" style="font-size:12px;display:inline" v-bind:href="repo.html_url" target="_blank">main repo</a> |
                    <span v-if="repo.has_pages"><a class="link" style="font-size:12px;display:inline" v-bind:href="'https://' + repo.owner.login + '.github.io/' + repo.name" target="_blank">github.io</a> |</span>
                    <a class="link" style="font-size:12px;display:inline" v-bind:href="'https://raw.githack.com/' + repo.owner.login + '/' + repo.name + '/' + repo.default_branch + '/'" target="_blank">raw.githack.com</a>
                </h5>
            </div>
        </div>
    </div>
</body>
