<!DOCTYPE html>
<head>
	<link rel="shortcut icon" href="data/favicon.png" />

	<title>The Prestreestuck</title>
	<meta name="description" content="When you try to mix Homestuck with The Prestige Tree. 13 layers and very huge numbers. Don't say we didn't warn you.">

	<link rel="stylesheet" type="text/css" href="style.css" />
	<link rel="stylesheet" type="text/css" href="popup.css" />

	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script type="text/javascript" src="js/technical/break_eternity.js"></script>
	<script type="text/javascript" src="js/technical/layerSupport.js"></script>
	<script type="text/javascript" src="js/tree.js"></script>
	<script type="text/javascript" src="js/mod.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>

	<script type="text/javascript" src="js/layers/skaia.js"></script>
	<script type="text/javascript" src="js/layers/aspTime.js"></script>
	<script type="text/javascript" src="js/layers/aspSpace.js"></script>
	<script type="text/javascript" src="js/layers/aspHeart.js"></script>
	<script type="text/javascript" src="js/layers/aspMind.js"></script>
	<script type="text/javascript" src="js/layers/aspHope.js"></script>
	<script type="text/javascript" src="js/layers/aspRage.js"></script>
	<script type="text/javascript" src="js/layers/aspLight.js"></script>
	<script type="text/javascript" src="js/layers/aspVoid.js"></script>
	<script type="text/javascript" src="js/layers/aspLife.js"></script>
	<script type="text/javascript" src="js/layers/aspDoom.js"></script>
	<script type="text/javascript" src="js/layers/aspBreath.js"></script>
	<script type="text/javascript" src="js/layers/aspBlood.js"></script>

	<script type="text/javascript" src="js/technical/temp.js"></script>
	<script type="text/javascript" src="js/game.js"></script>
	<script type="text/javascript" src="js/technical/systemComponents.js"></script>
	<script type="text/javascript" src="js/components.js"></script>
	<script type="text/javascript" src="js/technical/canvas.js"></script>

</head>
<body onload="load()">
	<div id="app">
		<canvas id="treeCanvas" class="canvas" v-if="!(gameEnded && !player.keepGoing)"></canvas>

		<div v-if="false" id="loadingSection" class="fullWidth" style="z-index:2147483647;background-color:var(--background)">
			<div>
				<h1>The Prestreestuck</h1><br />
				<h2>v0.0.2.2</h2>
			</div>
			<div>
				<h3>Loading...</h3>
				<h4>
					If you can see this something bad must've happened!<br />
					Try reloading the page, and if it don't help, contact the mod author!
				</h4>
			</div>
		</div>
		<div class="vl" v-if="player.navTab !== 'none' && tmp.other.screenWidth >= 1000 && player.tab!='none' && !(gameEnded && !player.keepGoing)"></div>

		<div v-if="VERSION.num != '0.0.2.2' || VERSION.num != gameVer || VERSION.num != compVer || VERSION.num != systemVer" class="fullWidth" style="z-index:2147483000;background-color:var(--background)">
			<br>
			<h2>The game is currently being updated.</h2><br />
			If you can see this message, that means the game has detected inconsistent version number between files.<br />
			This can be caused by the website currently being updated and not ready yet or there is an error causing the files to be read incorrectly.<br />
			Please try again later, or if this screen has been up for more than 30 minutes, please contact the mod author.<br />
			<br>
			index.js version: 0.0.2.2<br/>
			mod.js version: {{VERSION.num}}<br />
			game.js version: {{gameVer}}<br />
			components.js version: {{compVer}}<br />
			systemComponents.js version: {{systemVer}}<br />
			<br>
		</div>

		<div v-if="(gameEnded && !player.keepGoing)" class="fullWidth">
			<br>
			<h2>{{modInfo.name}} {{VERSION.withoutName}}</h2><br><br>
			<h3 v-html="modInfo.winText"></h3><br>
			<h3>Please check the Discord to see if there are new content updates!</h3><br><br>
			<div v-if="!player.timePlayedReset">It took you {{formatTime(player.timePlayed)}} to beat the game.</div>
			<br>
			<button class="longUpg can" onclick="hardReset(true)">Play Again</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="longUpg can" onclick="keepGoing()">Keep Going</button>
			<br><br><br>
			<span v-if="modInfo.discordLink"><a class="link" v-bind:href="modInfo.discordLink" target="_blank">{{modInfo.discordName}}</a><br></span>
			<a class="link" href="https://discord.gg/F3xveHV" target="_blank" v-bind:style="modInfo.discordLink ? {'font-size': '16px'} : {}">The Modding Tree Discord</a><br>
			<a class="link" href="http://discord.gg/wwQfgPa" target="_blank" v-bind:style="{'font-size': '16px'}">Main Prestige Tree server</a><br>
			<br><br>
		</div>

		<div id="treeOverlay" v-if="!(gameEnded && !player.keepGoing) && (player.tab === 'none' || tmp.other.screenWidth >= 1000)" class="treeOverlay" onscroll="resizeCanvas()" v-bind:class="{ fullWidth: (player.tab == 'none' || player.navTab == 'none'), col: (player.tab !== 'none' && player.navTab !== 'none'), left: (player.tab !== 'none' && player.navTab !== 'none')}">
			<div id="version" onclick="showTab('changelog-tab')" class="overlayThing" style="margin-right: 13px">{{VERSION.withoutName}}</div>
			<button v-if="player.navTab == 'none' && (tmp[player.tab].row == 'side' || tmp[player.tab].row == 'otherside')" class="other-back overlayThing" onclick="goBack()">←</button>
			<img id="optionWheel" class="overlayThing" v-if="player.tab!='options-tab'" src="options_wheel.png" onclick="showTab('options-tab')"></img>
			<div id="info" v-if="player.tab!='info-tab'" class="overlayThing" onclick="showTab('info-tab')"><br>i</div>
			<div id="discord" class="overlayThing">
				<img onclick="window.open((modInfo.discordLink ? modInfo.discordLink : 'https://discord.gg/F3xveHV'),'mywindow')" src="discord.png" target="_blank"></img>
				<ul id="discord-links">
					<li v-if="modInfo.discordLink"><a class="link" v-bind:href="modInfo.discordLink" target="_blank">{{modInfo.discordName}}</a><br></li>
					<li><a class="link" href="https://discord.gg/F3xveHV" target="_blank" v-bind:style="modInfo.discordLink ? {'font-size': '16px'} : {}">The Modding Tree Discord</a><br></li>
					<li><a class="link" href="http://discord.gg/wwQfgPa" target="_blank" v-bind:style="{'font-size': '16px'}">Main Prestige Tree server</a></li>
				</ul>
			</div>
			<overlay-head v-if="!(gameEnded && !player.keepGoing)"></overlay-head>
			<div class="sideLayers">
				<div v-for="(node, index) in OTHER_LAYERS['side']"><tree-node :layer='node' :abb='tmp[node].symbol' :size="'small'" :key="'side' + index"></tree-node></div>
			</div>
		</div>

		<div v-if="!(gameEnded && !player.keepGoing) && (player.tab === 'none' || tmp.other.screenWidth >= 1000)" id="treeTab" style="z-index: 0" onscroll="resizeCanvas()" v-bind:class="{ fullWidth: (player.tab == 'none' || player.navTab == 'none'), col: (player.tab !== 'none' && player.navTab !== 'none'), left: (player.tab !== 'none' && player.navTab !== 'none')}">
			<br><br><br><br>
			<overlay-head id="fakeHead" style="visibility: hidden;">
			</overlay-head>

			<layer-tab :layer="player.navTab == 'none' ? player.tab : player.navTab" :key="'left'"></layer-tab>

		</div>

		<!-- Popups -->
		<div class="popup-container">
			<transition-group name="fade">
				<div v-for="popup,index in activePopups" class="popup" v-bind:class="popup.type" v-bind:key="'p' + popup.id" v-bind:style="popup.color ? {'background-color': popup.color} : {}">
					<h3>{{popup.title}}</h3><br>
					<h2 v-html="popup.message"></h2>
				</div>
			</transition-group>
		</div>

		<div v-if="player.navTab !== 'none' && player.tab !== 'none' && !(gameEnded && !player.keepGoing)" onscroll="resizeCanvas()" style="background-color:var(--background)" v-bind:class="{ fullWidth: player.navTab == 'none' || tmp.other.screenWidth < 1000, col: player.navTab != 'none', right: player.navTab != 'none', fast: true, tab: true}">
			<div v-for="layer in LAYERS">
				<div v-if="player.tab==layer">
					<layer-tab :layer="layer" :back="'none'" :spacing="'50px'" :key="'left'"></layer-tab>
				</div>
			</div>
		</div>
	</div>
</body>